body {
    background-color: #333;
    color: white;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h1 {
    text-align: center;
}

input {
    display: block;
    border: 1px solid grey;
    width: 800px;
}

canvas {
    display: block;
    border: 1px solid grey;
}